$background-color: rgb(4, 200, 69);
$font-color: rgb(0, 241, 1);

html, body {
  margin-left: 22.5%;
  background: $background-color;
  text-align: left;
}
pre {
  color: rgb(136, 255, 0)
}
h1 {
  text-align: center;
}
h1, h2, p, ul {
  color: $font-color;
}

button {
  margin-left: 13%;
  background: #58ff60;
  height: 30px;
  width: 100px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 10px 10px 10px;
  text-decoration: none;
}
h3 {
  text-align: center;
} 
